{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <h2 itemprop="headline">{{ title }}</h2>

    {% if post.date %}
      <p class="page__meta">
        <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
      </p>
    {% endif %}

    {% if post.type or post.venue or post.location %}
      <p class="archive__item-excerpt" itemprop="description">
        {% if post.type %}{{ post.type }}{% endif %}{% if post.venue %}{% if post.type %}, {% endif %}<i>{{ post.venue }}</i>{% endif %}{% if post.location %}{% if post.type or post.venue %}, {% endif %}{{ post.location }}{% endif %}
      </p>
    {% endif %}

    {% if post.excerpt %}
      <div class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</div>
    {% endif %}
  </article>
</div>
