{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    {% if post.type or post.year %}
      <p class="archive__item-excerpt" itemprop="description">
        {% if post.type %}<i>{{ post.type }}</i>{% endif %}{% if post.year %}{% if post.type %}, {% endif %}{{ post.year }}{% endif %}
      </p>
    {% endif %}
  </article>
</div>
