{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <h2 itemprop="headline">{{ title }}</h2>

    <p class="archive__item-excerpt" itemprop="description">
      {% if post.type %}{{ post.type }}{% endif %}{% if post.venue %}{% if post.type %}, {% endif %}<i>{{ post.venue }}</i>{% endif %}{% if post.date %}{% if post.type or post.venue %}, {% endif %}{{ post.date | date: "%Y" }}{% endif %}
      {% if post.role %}<br>Role: {{ post.role }}{% endif %}
    </p>

    {% if post.excerpt %}
      <div class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</div>
    {% endif %}
  </article>
</div>
